<footer class="custom">
  <div class="inner">
    <div class="top">
      <div><img alt="NewCo" src="https://newco.ooo/logo_white.png" /></div>
      <a href="mailto:info@newco.ooo" class="email">info@newco.ooo</a>
    </div>
    <div class="bottom">
      <a aria-current="page" class="short active" href="/">T&amp;Cs</a
      ><a aria-current="page" class="long active" href="/"
        >Terms &amp; Conditions</a
      ><a aria-current="page" class="long active" href="/">Privacy Policy</a
      ><a aria-current="page" class="short active" href="/">Privacy</a
      ><span class="copyright">©2021 NewCo</span>
    </div>
  </div>
</footer>
