<div>
  <header class="custom">
    <a aria-current="page" class="active" href="https://newco.ooo"
      ><img alt="NewCo" src="https://newco.ooo/newco_logo.png"
    /></a>
    <nav class="sc-dlVyqM cDNlyh">
      <a aria-current="page" href="http://localhost:3000">Home</a
      ><a class="" href="http://localhost:3000/start">Start a Company</a
      ><a class="" href="http://localhost:3000/video">Video</a
      ><a class="active" href="http://0.0.0.0:4000/blog/">Blog</a>
    </nav>
    <div class="blank"></div>
  </header>
</div>
