<div>
  <header class="custom">
    <a aria-current="page" class="active" href="https://newco.ooo"
      ><img alt="NewCo" src="https://newco.ooo/newco_logo.png"
    /></a>
    <nav class="sc-dlVyqM cDNlyh">
      <a aria-current="page" href="https://newco.ooo">Home</a
      ><a class="" href="https://newco.ooo/start">Start a Company</a
      ><a class="" href="https://newco.ooo/video">Video</a
      ><a class="active" href="https://newco.ooo/blog">Blog</a>
    </nav>
    <div class="blank"></div>
  </header>
</div>
