/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";

/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

@media (max-width: 900px) {
  .blank {
    display: none !important;
  }
}

@media (max-width: 750px) {
  nav,
  .blank {
    display: none !important;
  }
  header.custom {
    justify-content: center;
    padding-bottom: 28px;
  }

  footer.custom {
    padding: 1rem 1rem 2rem 1rem;
    .inner {
      width: 100%;
    }
    .email {
      font-size: 18px;
    }
    .top {
      img {
        width: 110px;
      }
      p {
        display: none;
      }
    }
    .bottom {
      padding-top: 4px;
      font-size: 0.8rem;
      a {
        margin-right: 12px;
      }
      .long {
        display: none;
      }
      .short {
        display: inline-block;
      }
    }
  }
}

.post-title,
.post-link {
  color: black;
  font-weight: 800 !important;
}

.page-description {
  margin-top: 0px !important;
  margin-bottom: 0.5rem !important;
  color: rgba(88, 88, 88, 0.61);
  font-size: 1.8rem;
}

.email {
  font-size: 21px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex-direction: row;
}

article {
  margin-bottom: 6rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: black !important;
}

footer.custom {
  background: #343434;
  color: white;
  padding: 4rem 0;
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  .copyright {
    float: right;
    margin-right: 0;
  }
  .inner {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
  }
  .top {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      width: 180px;
    }
    p {
      margin-top: 4px;
      color: #888;
    }
  }
  .bottom {
    border-top: 1px solid #555;
    padding-top: 6px;
    font-size: 0.9rem;
    opacity: 0.4;
    a {
      color: white;
      text-decoration: none;
      margin-right: 22px;
    }
    .short {
      display: none;
    }
  }
}

.page-content {
  padding-bottom: 320px !important;
}

.page-content,
header.custom,
footer.custom {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.page-content,
header.custom {
  padding: 0;
  background: white !important;
}

.main {
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  position: relative;
}

.blank {
  width: 120px;
}

.wrapper {
  margin-top: 6rem;
  max-width: 960px;
  // padding: 0px 1rem;
}

header.custom {
  background: white;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  padding: 32px 64px 32px 64px;
  img {
    width: 120px;
  }
}

nav {
  display: flex;
  text-align: center;
  flex-grow: 1;
  a {
    display: inline-block;
    text-decoration: none !important;
    font-size: 16px;
    margin: 0 16px;
    color: #000 !important;
    padding-bottom: 2px;
    border-bottom: 5px solid #fff;
    &.active {
      border-bottom: 5px solid #ccc !important;
    }
  }
}

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight";
